streamlit>=1.33.0
openai>=1.0.0
cerebras
python-dotenv
PyPDF2
pandas
transformers>=4.41.1
torch>=2.0
langchain>=0.2.1
langchain-community>=0.2.1
langchain-text-splitters>=0.2.1
sentence-transformers
faiss-cpu
